@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    font-size: inherit;
    font-weight: inherit;
}

*::-webkit-scrollbar {
    display: none;
}

/* 파이어폭스 */
*.custom-scroll {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

button {
    cursor: pointer;
}

svg {
    fill: currentColor;
}

textarea {
    outline: none;
    resize: none;
}

input {
    outline: none;
}