@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

button {
    cursor: pointer;
}
